# 1.Manipulate using a list

In [8]:
# to add new elements to the end of the list

l=[1,2,3]
l

[1, 2, 3]

In [9]:
l.append(4)
l

[1, 2, 3, 4]

In [10]:
# to reverse elements in the list
l.reverse()

In [12]:
l

[4, 3, 2, 1]

In [14]:
#to display the same list of elements multiple times
l*3

[4, 3, 2, 1, 4, 3, 2, 1, 4, 3, 2, 1]

In [18]:
# to concatenate two lists
l1 = [5,6,7,8]
l2=l+l1
l2

[4, 3, 2, 1, 5, 6, 7, 8]

In [21]:
# to sort the elements in the list in ascending order
l2.sort()
l2

[1, 2, 3, 4, 5, 6, 7, 8]

# 2. write a python program to do in the tuples

In [44]:
# manipulate using tuples
t=(1,2,3)
t[0]=0

TypeError: 'tuple' object does not support item assignment

#we are not able to manipulate the tuple

In [46]:
# add new elements end of the tuple
t=(1,2,3)
t = t+(4,5,6)
t

(1, 2, 3, 4, 5, 6)

In [47]:
# reverse elements
t[::-1]

(6, 5, 4, 3, 2, 1)

In [29]:
# display elements multiple times
t*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [31]:
# concatenate two tuples
t1 = (7,8,9)
t2 = t+t1
t2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [36]:
# sort the elemets
list(t2).sort()
t2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [48]:
t3 = (5,7,3,8,5,1)
sorted_tuple = tuple(sorted(t3))
sorted_tuple

(1, 3, 5, 5, 7, 8)

# 3.Write a python program to implement the following using list

In [49]:
# create a list with integers (minimum 10 numbers)
l4=[1,2,3,4,5,6,7,8,9,10]
l4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
#how to display the last number in the list
l4[-1]

10

In [53]:
#display values from [0:4]
l4[0:4]

[1, 2, 3, 4]

In [55]:
#display values from [2:]
l4[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
#display values from [:6]
l4[:6]

[1, 2, 3, 4, 5, 6]

# 4.write a python program:tuple=(10,50,20,40,30)

In [59]:
t4=(10,50,20,40,30)
t4

(10, 50, 20, 40, 30)

In [61]:
#display 10 and 50 from tuple
t4[:2]

(10, 50)

In [63]:
#length of tuple
len(t4)

5

In [65]:
#to find minimum element from tuple
min(t4)

10

In [67]:
#to add all element from tuple
sum(t4)

150

In [69]:
#display multiple times
t4*3

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5.write a python program

In [71]:
s='jagadeesh'
s

'jagadeesh'

In [74]:
#to calculate the length of the string
len(s)

9

In [76]:
#reverse a string
s[::-1]

'hseedagaj'

In [78]:
#display multiple times
s*3

'jagadeeshjagadeeshjagadeesh'

In [81]:
#concatenate two strings
s1='kumar'
s2 = s+' '+s1
s2

'jagadeesh kumar'

In [83]:
#5
str1 = 'South India'
str1[-5:]

'India'

# 6.perform the following

In [85]:
# create a dictionary
d={'f_name':'jagadeesh','l_name':'madagala'}
d

{'f_name': 'jagadeesh', 'l_name': 'madagala'}

In [87]:
#accessing values and keys
d.items()

dict_items([('f_name', 'jagadeesh'), ('l_name', 'madagala')])

In [89]:
#update dic using fun
d.update({'age':23})

In [90]:
d

{'f_name': 'jagadeesh', 'l_name': 'madagala', 'age': 23}

In [93]:
d.clear()
d

{}

# 7.python program to insert a number to any position in a list

In [105]:
l5 = [12,13,14,16]
l5

[12, 13, 14, 16]

In [106]:
l5.insert(0,11)
l5

[11, 12, 13, 14, 16]

In [107]:
l5.insert(4,15)
l5

[11, 12, 13, 14, 15, 16]

# 8.python program to delete an element from a list by index

In [108]:
l5.pop(2)

13

In [110]:
l5

[11, 12, 14, 15, 16]

# 9.write a program to display numbers from 1 to 100

In [113]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.write a program to find the sum of all elemnts in a tuple

In [115]:
t5=(10,50,20,40,30)
sum(t5)

150

# 11.create a dic containing three lambda functions square, cube, and square root

In [7]:
dict = {'square': lambda x: x** 2, 'Cube': lambda x: x** 3, 'Square Root': lambda x: x ** 0.5}

user_input=int(input("Enter the number : "))

output_sum = 0

for key, function in dict.items():
    output = function(user_input)
    print(key,'of', user_input,' is', output)
    output_sum = output_sum + output

print('Sum of all function outputs is: ', output_sum)

Enter the number : 2
square of 2  is 4
Cube of 2  is 8
Square Root of 2  is 1.4142135623730951
Sum of all function outputs is:  13.414213562373096

# 12. A list of words given, find the words from the list that have their secondcharacter in upper case

In [118]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
for i in ls:
    if i[1].isupper():
        print(i)

hOw
ARe

# 13. A dict of names and weights on earth is given. find how much weigh in moon

In [121]:
woe = {'john':45,'Shelly':65,"Marry":35}
woe

{'john': 45, 'Shelly': 65, 'Marry': 35}

In [126]:
wom = {}
for i,j in woe.items():
    wom[i] = ((j*1.622)/9.81)

In [128]:
wom

{'john': 7.440366972477065,
 'Shelly': 10.747196738022426,
 'Marry': 5.786952089704383}

# Control Structures

# 1. write a python program to find first n prime numbers

In [140]:
from math import sqrt
 
num = int(input("Enter a number: "))
count = 0
n = 2
 
while count < num:
    prime_flag = True
     
    for i in range(2, int(sqrt(n)) + 1):
        if (n % i) == 0:
            prime_flag = False
            break
     
    if prime_flag:
        print(n, end =" ")
        count = count + 1
    n = n + 1

Enter a number: 5
2 3 5 7 11

# 2.calculate salary of an employee

In [146]:
bs=int(input('enter bs:'))
hra = int(input('enter hra:'))
ta = int(input('enter ta:'))
da = int(input('enter da:'))
gs=bs+hra+ta+da
tax =(10/100)*gs
ns = gs-tax
print('gross salary:',gs)
print('tax:',tax)
print('net salary:',ns)

enter bs:15000
enter hra:5000
enter ta:2000
enter da:1000
gross salary: 23000
tax: 2300.0
net salary: 20700.0

# 3.write a python program to search for a string in the given list

In [148]:
l6= ['jagadeesh', 'darshan', 'govind', 'pawan','srini']
 
s = 'govind' 
 
if s in l6:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

govind is present in the list

# 4.write a python function that accepts a string and calculates the number of upper-case letters and lower-case letters

In [151]:
s4 =input('enter the string:')
nou=0
nol=0
for i in s4:
    if i.isupper():
        nou+=1
    else:
        nol+=1
        
print('The no of upper case letters:',nou)
print('The no of lower case letters:',nol)

enter the string:JaGaDeEsH
The no of upper case letters: 5
The no of lower case letters: 4

# 5. write a program to displaythe sum of odd numbers and even numbers that fall between 12 and 37.

In [154]:
soen=0
sood=0
for i in range(12,37):
    if i%2==0:
        soen+=i
    else:
        sood+=i
print('the sum of odd numbers:',sood)
print('the sum of even numbers:',soen)

the sum of odd numbers: 288
the sum of even numbers: 312

# 6.write a program the table of any number

In [156]:
n=int(input('enter the number to calculate table:'))
for i in range(1,21):
    print(n,'*',i,'=',n*i)

enter the number to calculate table:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

# 7. write a python program to sum the first ten prime numbers

In [175]:
from math import sqrt
 
num = int(input("Enter a number: "))
count = 0
n = 2
l=[]
 
while count < num:
    prime_flag = True
     
    for i in range(2, int(sqrt(n)) + 1):
        if (n % i) == 0:
            prime_flag = False
            break
     
    if prime_flag:
        l.append(n)
        count = count + 1
    n = n + 1
print(l)
print('sum of first ten prime numbers: ',sum(l))

Enter a number: 10
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
sum of first ten prime numbers:  129

# 8.write a program to implement arthimetic operation using nested if statement

In [179]:
n1=int(input('enter the first number:'))
n2=int(input('enter the second number:'))
operation = input('enter the arthimetic operation: ')
if operation == 'add':
    print(n1+n2)
elif operation == 'sub':
    print(n1-n2)
elif operation == 'mul':
    print(n1*n2)
else:
    print(n1/n2)

enter the first number:15
enter the second number:5
enter the arthimetic operation: add
20

# 9.write a python program to take temp in celsius and convert into farenheit

In [164]:
celsius = float(input('enter the celsius temperature: '))
 
fahrenheit = (celsius * 1.8) + 32
 
print('{} celsius is equal to {} fahrenheit'.format(celsius,fahrenheit))

enter the celsius temperature: 38.9
38.9 celsius is equal to 102.02 fahrenheit

# 10.write a python program to find minimum and maximum number in a list without using an inbuilt function

In [169]:
l7=[34,65,76,8,82,75,12]
max_num = 0
min_num = l7[0]
for i in l7:
    if i>max_num:
        max_num = i
    if i<min_num:
        min_num = i
print('The maximum number in the list: ',max_num)
print('The minimum number in the list: ',min_num)

The maximum number in the list:  82
The minimum number in the list:  8

# 11.write a program in python print out the number of seconds in 30 day month 30 days,24 hours in a day, 60 minutes per hour, 60 seconds in minute

In [173]:
print('seconds_in_month=',30*24*60*60)
print('seconds_in_24_hrs=',24*60*60)
print('seconds_in_1_hr=',60*60)
print('seconds_in_1_min=',1*60)

seconds_in_month= 2592000
seconds_in_24_hrs= 86400
seconds_in_1_hr= 3600
seconds_in_1_min= 60

# 12.write a program in python to print no oof seconds in year

In [174]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

result = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute

print("Number of seconds in a year are: {}".format(result))

Number of seconds in a year are: 31536000

# 13.A high speed train at an average speed of 150 mph, how long will it takea tarin travelling at this speed to tarvel from london to glasgow is 414 miles away.

In [180]:
d=414
s=150
t=d/s
print('time taken to tarvel: ',t,'hrs')

time taken to tarvel:  2.76 hrs

# 14.write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. the program should then print out the total hrs that your

In [182]:
days_in_each_school_year = 192
total_hrs=0
for i in range(7,12):
    total_hrs+=(192*6)
print('total hours spent in school:',total_hrs)

total hours spent in school: 5760

# 15.if the age of Ram,sam and khan are input through the keyboard, write program to determine the eldest and youngest of the three

In [190]:
Ram_age = int(input('enter the age of ram: '))
Sam_age = int(input('enter the age of sam: '))
Khan_age = int(input('enter the age of khan: '))
d={Ram_age:'Ram',Sam_age:'Sam',Khan_age:'Khan'}
eldest=''
youngest=''
if(Ram_age>Sam_age and Ram_age>Khan_age):
    eldest=Ram_age
elif(Sam_age>Khan_age):
    eldest=Sam_age
else:
    eldest=Khan_age

if(Ram_age<Sam_age and Ram_age<Khan_age):
    youngest=Ram_age
elif(Sam_age<Khan_age):
    youngest=Sam_age
else:
    youngest=Khan_age
print('The youngest is',d[youngest])
print('The eldest is',d[eldest])

enter the age of ram: 26
enter the age of sam: 24
enter the age of khan: 28
The youngest is Sam
The eldest is Khan

# 16.write a python program to rotate a list by right n times with and without slicing technique

In [199]:
num = 3
lists= [1, 2, 3, 4, 5, 6]
output_list = []

for item in range(len(lists) - num, len(lists)):
    output_list.append(lists[item])

for item in range(0, len(lists) - num):
    output_list.append(lists[item])

print(output_list)

[4, 5, 6, 1, 2, 3]

# 17.python program to print patterns given below

In [3]:
rows = 7
list = []
for line in range(1, rows + 1):
    row = []
    for i in range(line):
        if i == 0 or i == line - 1:
            row.append(1)
        else:
            prev_row = list[line - 2]
            value = prev_row[i - 1] + prev_row[i]
            row.append(value)
    list.append(row)
for row in list:
        for num in row:
            print(num, end=' ')
        print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [5]:
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [6]:
rows = 6
for i in range(0, rows):
    for j in range(0, rows - 1):
        print(end=' ')
    rows = rows - 1
    for k in range(0, i + 1):
        print('*', end=' ')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [7]:
String ='Python'
for i in range(0,6):
    print()
    for j in range(0,i+1):
        print(String[j], end=' ')

P
P y
P y t
P y t h
P y t h o
P y t h o n