In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the Data(csv file)

In [2]:
df = pd.read_csv("house_price.csv")

In [3]:
df.head()

   area  rooms   price
0  2104      3  399900
1  1600      3  329900
2  2400      3  369000
3  1416      2  232000
4  3000      4  539900

In [4]:
df.shape

(47, 3)

In [5]:
df.isna().sum()

area     0
rooms    0
price    0
dtype: int64

In [6]:
df.describe()

              area      rooms          price
count    47.000000  47.000000      47.000000
mean   2000.680851   3.170213  340412.659574
std     794.702354   0.760982  125039.899586
min     852.000000   1.000000  169900.000000
25%    1432.000000   3.000000  249900.000000
50%    1888.000000   3.000000  299900.000000
75%    2269.000000   4.000000  384450.000000
max    4478.000000   5.000000  699900.000000

# Assign x to input features & assign y to response features

In [7]:
x = df.iloc[:, :1].values
y = df.iloc[:, -1:].values

# split the data for training and testing

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 2)

# Build a simple linear regression model

In [9]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(x_train, y_train)

LinearRegression()

# Testing the model

In [10]:
ypred = lin_reg.predict(x_test)
ypred

array([[335111.83671602],
       [325161.11687151],
       [418725.52429836],
       [246384.58476914],
       [262554.50451647],
       [229800.05169495],
       [319909.34806468],
       [682834.21350472],
       [239197.95377032],
       [354736.86752047]])

# Calculate R square

In [11]:
from sklearn.metrics import r2_score
print('Base Train_Score:\t',lin_reg.score(x_train,y_train))
print()
print('Base test_score:\t',lin_reg.score(x_test,y_test))
print()
print('R-Square:\t',r2_score(y_test,ypred))

Base Train_Score:	 0.7028693823725256

Base test_score:	 0.8270752386436113

R-Square:	 0.8270752386436113

# Build the Ridge Model

In [12]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [14]:
#Build Ridge model
print('*********Ridge Regression Model******************')
rr=Ridge(alpha=0.01)
rr.fit(x_train,y_train)
rr_pred=rr.predict(x_test)
print('Base Train_Score:\t',rr.score(x_train,y_train))
print()
print('Base test_score:\t',rr.score(x_test,y_test))
print()
print('R-Square:\t',r2_score(y_test,rr_pred))

*********Ridge Regression Model******************
Base Train_Score:	 0.7028693823725256

Base test_score:	 0.8270752387334578

R-Square:	 0.8270752387334578

In [17]:
#Build Ridge model with alpha 50
print('*********Ridge Regression Model******************')
rr=Ridge(alpha=50)
rr.fit(x_train,y_train)
rr_pred=rr.predict(x_test)
print('Base Train_Score:\t',rr.score(x_train,y_train))
print()
print('Base test_score:\t',rr.score(x_test,y_test))
print()
print('R-Square:\t',r2_score(y_test,rr_pred))

*********Ridge Regression Model******************
Base Train_Score:	 0.70286938236838

Base test_score:	 0.8270756878687644

R-Square:	 0.8270756878687644

# Build the Lasso Model

In [18]:
#Build Lasso model
print('*********Lasso Regression Model******************')
ls=Lasso(alpha=0.01)
ls.fit(x_train,y_train)
ls_pred=rr.predict(x_test)
print('Base Train_Score:\t',ls.score(x_train,y_train))
print()
print('Base test_score:\t',ls.score(x_test,y_test))
print()
print('R-Square:\t',r2_score(y_test,ls_pred))

*********Lasso Regression Model******************
Base Train_Score:	 0.7028693823725256

Base test_score:	 0.827075238667665

R-Square:	 0.8270756878687644

In [19]:
#Build Lasso model with alpha 0.00001
print('*********Lasso Regression Model******************')
ls=Lasso(alpha=0.00001)
ls.fit(x_train,y_train)
ls_pred=rr.predict(x_test)
print('Base Train_Score:\t',ls.score(x_train,y_train))
print()
print('Base test_score:\t',ls.score(x_test,y_test))
print()
print('R-Square:\t',r2_score(y_test,ls_pred))

*********Lasso Regression Model******************
Base Train_Score:	 0.7028693823725256

Base test_score:	 0.8270752386436354

R-Square:	 0.8270756878687644