In [1]:
import numpy as numpy
import pandas as pd

# 1. How many movies are listed in the titles datafrmae?

In [7]:
import pandas as pd
title= pd.read_csv('titles.csv')

In [8]:
mov_t=len(title)

print("The movies in dataframe are: ", mov_t)

The movies in dataframe are:  244914

# 2. what are the ealiest two films listed ine titles dataframe?

In [9]:
sort_titles=title.sort_values(by='year')

two_films=sort_titles.head(2)

print("The two earlisted films are: \n", two_films)

The two earlisted films are:
                      title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# 3. how many movies have the title "Hamlet"?

In [13]:
hamlet_count = title["title"].str.contains("Hamlet", case=False).sum()

print("The number of movies with the title Hamlet are: ",hamlet_count)

The number of movies with the title Hamlet are:  57

# 4. how many movies are titled "North by Northwest"

In [14]:
North_count = title["title"].str.contains("North by Northwest", case=False).sum()

print("The number of movies with the title North by Northwest are: ",North_count)

The number of movies with the title North by Northwest are:  1

# 5. When was the first movie titled "Hamlet" made?

In [17]:
import pandas as pd

title= pd.read_csv('titles.csv')

hamlet_movies = title[title['title'] == 'Hamlet']

hamlet_movies_sorted = hamlet_movies.sort_values(by='year')

first_hamlet_movie = hamlet_movies_sorted.iloc[0]

release_year = first_hamlet_movie['year']

print(f"The first movie titled 'Hamlet' was made in the year {release_year}.")

The first movie titled 'Hamlet' was made in the year 1910.

# 6. List all of the "Treasure Island" movies from earliest to most recent.

In [19]:
import pandas as pd

titles = pd.read_csv('titles.csv')

treasure_mov=titles[titles['title'] == 'Treasure Island']

treasure_movie_sort= treasure_island_movies.sort_values(by='year')

print("List of 'Treasure Island' movies from earliest to most recent:")
print(treasure_island_movies_sorted)

List of 'Treasure Island' movies from earliest to most recent:
                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# 7. How many movies were made in the year 1960?

In [22]:
import pandas as pd

titles = pd.read_csv('titles.csv')
movies_1950 = titles[titles['year'] == 1950]
num_1950 = len(movies_1950)

print(f"The number of movies made in the year 1950 is: {num_1950}")

The number of movies made in the year 1950 is: 1113

# 8. How many movies were made from 1950 through 1959?

In [23]:
import pandas as pd
titles = pd.read_csv('titles.csv')

mov_1950 = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]


num = len(mov_1950)

print(f"The number of movies made from 1950 through 1959 is: {num}")

The number of movies made from 1950 through 1959 is: 12934

# 9. In what year has a movie titled "Batman" been released?

In [26]:
import pandas as pd

titles= pd.read_csv('titles.csv')

movies = titles[titles['title'] == 'Batman']
release_year =movies.iloc[0]['year']
print(f"The movie 'Batman' was released in {release_year}.")

The movie 'Batman' was released in 1943.

# 10. How many roles were there in the movie "Inception"?

In [30]:
import pandas as pd
titles= pd.read_csv('titles.csv')
movie_count = titles['title'].shape[0]
print(movie_count)

244914

# 11. How many roles were there in the movie "Inception"?

In [32]:
import pandas as pd

cast= pd.read_csv('cast.csv')

inception_cast= cast[cast['title'] == 'Inception']

n_cast= len(inception_cast)
print(f'The movie "Inception" had {n_cast} roles.')

The movie "Inception" had 78 roles.

# 12. How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [33]:
import pandas as pd

cast= pd.read_csv('cast.csv')
inception_role= cast[cast['title'] == 'Inception']
roles_n= inception_role[inception_role['n'].isna()]

n= len(roles_n)

print(f'The number of roles in "Inception" without an "n" value is: {n}')

The number of roles in "Inception" without an "n" value is: 27

# 13. But how many roles in the movie "Inception" did receive an "n" value?

In [34]:
import pandas as pd

cast= pd.read_csv('cast.csv')
inception_cast= cast[cast['title'] == 'Inception']
count= inception_cast['n'].count() 

print(f'The number of roles with an "n" value in the movie "Inception" is {count}.')

The number of roles with an "n" value in the movie "Inception" is 51.

# 14. Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [35]:
import pandas as pd

cast= pd.read_csv('cast.csv')
filtered_cast= cast[(cast['title'] == 'North by Northwest') & cast['n'].notna()]
sorted_cast= filtered_cast.sort_values(by='n')

print(sorted_cast[['name', 'n']])

                         name     n
871426             Cary Grant   1.0
3518333       Eva Marie Saint   2.0
1457165           James Mason   3.0
3157232   Jessie Royce Landis   4.0
356707         Leo G. Carroll   5.0
3048272  Josephine Hutchinson   6.0
1695173           Philip Ober   7.0
1275337         Martin Landau   8.0
2447081         Adam Williams   9.0
1811387          Edward Platt  10.0
665768      Robert Ellenstein  11.0
2295714          Les Tremayne  12.0
464736        Philip Coolidge  13.0
1508344         Patrick McVey  14.0
206471           Edward Binns  15.0
1384780             Ken Lynch  16.0

# 15. Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [36]:
import pandas as pd
cast= pd.read_csv('cast.csv')
sleuth_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)]
sleuth_cast_sort = sleuth_cast.sort_values(by='n')

print(sleuth_cast_sort[['name', 'n']])

                       name    n
1705394    Laurence Olivier  1.0
326773        Michael Caine  2.0
373876       Alec Cawthorne  3.0
1465483  John (II) Matthews  4.0
2724553  Eve (III) Channing  5.0
1448690        Teddy Martin  6.0

# 16. Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [37]:
import pandas as pd

cast= pd.read_csv('cast.csv')
sleuth_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007)]
sleuth_cast_sort=sleuth_cast.sort_values(by='n')

print("The entire cast of the 2007 version of 'Sleuth' in 'n'-order:")
print(sleuth_cast_sort[['name', 'n']])

The entire cast of the 2007 version of 'Sleuth' in 'n'-order:
                        name    n
326774         Michael Caine  1.0
1293634             Jude Law  2.0
1805907        Harold Pinter  3.0
260242       Kenneth Branagh  NaN
373877   Alec (II) Cawthorne  NaN
2724552    Eve (II) Channing  NaN
3370424    Carmel O'Sullivan  NaN

# 17. How many roles were credited in the silent 1921 version of Hamlet?

In [38]:
import pandas as pd

cast= pd.read_csv('cast.csv')
hamlet= cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]
role= len(hamlet['character'].unique())

print(f"The silent 1921 version of Hamlet credited {role} roles.")

The silent 1921 version of Hamlet credited 9 roles.

# 18. How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [39]:
import pandas as pd

cast= pd.read_csv('cast.csv')
filtered_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]
num_roles_credited = filtered_cast['character'].nunique()

print(f"The number of roles credited in Branagh's 1996 Hamlet is: {num_roles_credited}")

The number of roles credited in Branagh's 1996 Hamlet is: 49

# 19. How many "Hamlet" roles have been listed in all film credits through history?

In [40]:
import pandas as pd


cast= pd.read_csv('cast.csv')
hamlet_role= cast[cast['character'] == 'Hamlet']


n_role= len(hamlet_role)

print(f'The number of "Hamlet" roles listed in the film credits is: {n_role}')

The number of "Hamlet" roles listed in the film credits is: 96

# 20. How many people have played an "Ophelia"?

In [41]:
import pandas as pd

cast= pd.read_csv('cast.csv')
ophelia_count= cast['character'].value_counts().get('Ophelia', 0)

print(f'The number of people who have played "Ophelia" is: {ophelia_count}')

The number of people who have played "Ophelia" is: 117

# 21. How many people have played a role called "The Dude"?

In [42]:
import pandas as pd

cast = pd.read_csv('cast.csv')
dude_actors = cast[cast['character'] == 'The Dude']
num_dude_actors = dude_actors['name'].nunique()

print(f'The number of actors who have played the role "The Dude" is {num_dude_actors}.')

The number of actors who have played the role "The Dude" is 19.

# 22. How many people have played a role called "The Stranger"?

In [43]:
import pandas as pd


cast= pd.read_csv('cast.csv')
stranger_actors = cast[cast['character'] == 'The Stranger']

num_stranger_actors = len(stranger_actors['name'].unique())
print(f"The number of people who have played the role 'The Stranger' is: {num_stranger_actors}")

The number of people who have played the role 'The Stranger' is: 202

# 23. How many roles has Sidney Poitier played throughout his career?

In [44]:
import pandas as pd


cast= pd.read_csv('cast.csv')
sidney_r= cast[cast['name'] == 'Sidney Poitier']
n = len(sidney_r)

print(f'Sidney Poitier has played {n} roles in the cast.csv file.')

Sidney Poitier has played 43 roles in the cast.csv file.

# 24. How many roles has Judi Dench played?

In [46]:
import pandas as pd

cast= pd.read_csv('cast.csv')
judi_dench= cast[cast['name'] == 'Judi Dench']
n= len(judi_dench)

print(f'Judi Dench has played {n} roles in the cast.csv file.')

Judi Dench has played 55 roles in the cast.csv file.

# 25. List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [47]:
import pandas as pd

cast= pd.read_csv('cast.csv')
cary_support= cast[
    (cast['name'] == 'Cary Grant') &  (cast['year'] >= 1940) &        
    (cast['year'] <= 1949) & (cast['n'] == 2)]

cary_support_sorted = cary_support.sort_values(by='year')

print(cary_support_sorted[['year', 'title', 'n']])

        year             title    n
871423  1940  My Favorite Wife  2.0
871433  1941    Penny Serenade  2.0

# 26. List the leading roles that Cary Grant played in the 1940s in order by year.

In [49]:
import pandas as pd

cast = pd.read_csv('cast.csv')
cary_grant= cast[(cast['name'] == 'Cary Grant') & 
                                (cast['n'] == 1)]

cary_grant_r= cary_grant[(cary_grant['year'] >= 1940) & 
                                    (cary_grant['year'] <= 1949)]

n= cary_grant_r.sort_values(by='year')
print(n[['year', 'title']])

        year                                 title
871448  1940               The Howards of Virginia
871407  1940                       His Girl Friday
871450  1940                The Philadelphia Story
871438  1941                             Suspicion
871452  1942                  The Talk of the Town
871429  1942                 Once Upon a Honeymoon
871398  1943                     Destination Tokyo
871422  1943                             Mr. Lucky
871430  1944                      Once Upon a Time
871390  1944                  Arsenic and Old Lace
871425  1944             None But the Lonely Heart
871424  1946                         Night and Day
871427  1946                             Notorious
871444  1947      The Bachelor and the Bobby-Soxer
871445  1947                     The Bishop's Wife
871421  1948  Mr. Blandings Builds His Dream House
871402  1948          Every Girl Should Be Married
871411  1949                I Was a Male War Bride

# 27. How many roles were available for actors in the 1950s?

In [52]:
import pandas as pd

cast= pd.read_csv('cast.csv')
role= cast[(cast['year'] >= 1950) & (cast['type'] == 'actor')]
n= len(role)
print(f'The number of roles available for actors in the 1950s is: {n}')

The number of roles available for actors in the 1950s is: 2142640

# 28. How many roles were avilable for actresses in the 1950s?

In [53]:
import pandas as pd

cast= pd.read_csv('cast.csv')
role= cast[(cast['year'] >= 1950) & (cast['type'] == 'actresses')]
n= len(role)
print(f'The number of roles available for actors in the 1950s is: {n}')

The number of roles available for actors in the 1950s is: 0

# 29. How many leading roles (n=1) were available from the beginning of film history through 1980

In [55]:
import pandas as pd

cast= pd.read_csv('cast.csv')
leading_roles= cast[cast['n'] == 1]
leading_roles_n = leading_roles[leading_roles['year'] <= 1980]
n= len(leading_roles_n)

print(f'The number of leading roles (n=1) available from the beginning of film history through 1980 is: {n}')

The number of leading roles (n=1) available from the beginning of film history through 1980 is: 65140

# 30. How many non-leading roles were available through from the beginning of film history through 1980

In [56]:
import pandas as pd

cast_df = pd.read_csv('cast.csv')
roles_until_1980 = cast_df[cast_df['year'] <= 1980]
non_leading_roles = roles_until_1980[roles_until_1980['n'] > 1]

num_non_leading_roles = len(non_leading_roles)

print(f"The number of non-leading roles available from the beginning of film history through 1980 is {num_non_leading_roles}.")

The number of non-leading roles available from the beginning of film history through 1980 is 669320.

# 31. How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [59]:
import pandas as pd

cast= pd.read_csv('cast.csv')
role= cast[(cast['year'] >= 1980) & (cast['n'].isnull())]
n= len(role)

print(f"The number of roles through 1980 without a numeric 'n' rank is: {n}")

The number of roles through 1980 without a numeric 'n' rank is: 1014692